<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ja">


<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<link href="home.css" rel="stylesheet">
	<title>Document</title>
</head>

<body id="bd">

	<form action="/ankeComplete" th:object="${ankeForm}" method="post">

		<div class="container-fluid">
			<div class="row">
				<div class="top py-4 ">
					<a href="https://counity.azurewebsites.net/ace.html" class="link">
						<h2>Ace
							<ruby>
								東雲南<rt>しののめみなみ</rt>
							</ruby>店
						</h2>
					</a>
				</div>
			</div>
		</div>

		<div class="pulldownset ms-3 mt-3">


			■店舗を選択：
			<br>
			<select class="mainselect" name="genre" th:field="*{genre}">
				<option value="" >ジャンルを選択</option>
				<option value="toy" >グッズ</option>
				<option value="gourmet">グルメ</option>
				<option value="service">サービス</option>
			</select>



			<select id="toy" class="subbox" name="shopName" th:field="${ankeForm.shopName}">
				<option value="">グッズを選択</option>
				<option value="OWNDAYS">OWNDAYS</option>
				<option value="ダイソー">ダイソー</option>
			</select>


			<select id="gourmet" class="subbox" name="shopName" th:field="${ankeForm.shopName}">
				<option value="">グルメを選択</option>
				<option value="コメダ珈琲">コメダ珈琲</option>
				<option value="イタリアンダイニングDONA">イタリアンダイニングDONA</option>
				<option value="リンガーハット">リンガーハット</option>
				<option value="マクドナルド">マクドナルド</option>
			</select>


			<select id="service" class="subbox" name="shopName" th:field="${ankeForm.shopName}">
				<option value="">サービスを選択</option>
				<option value="ママショップ可能クリーニング">ママショップ可能クリーニング</option>
				<option value="マジックミシン">マジックミシン</option>
				<option value="ラフィネ">ラフィネ</option>
				<option value="イオンカルチャークラブ">イオンカルチャークラブ</option>
			</select>

		</div>

		<!-- ▼ここからJavaScript記述▼ -->
		<script type="text/javascript">

			// ▼Mainbox内のsubboxジャンルを選択していない時subboxを非表示にする
			var allSubBoxes = document.querySelectorAll(".subbox");
			for (var i = 0; i < allSubBoxes.length; i++) {
				allSubBoxes[i].style.display = 'none';
			}

			// ▼pulldownsetが選ばれたときの処理
			var mainBoxes = document.querySelectorAll('.pulldownset');
			for (var i = 0; i < mainBoxes.length; i++) {

				// ▼mainselectの中からジャンルが選ばれたときの処理
				var mainSelect = mainBoxes[i].querySelectorAll(".mainselect");
				mainSelect[0].onchange = function () {
					// ▼選んだジャンルに含まれている以外の全サブBOXを消す
					var subBox = this.parentNode.querySelectorAll(".subbox");
					for (var j = 0; j < subBox.length; j++) {
						subBox[j].style.display = 'none';
					}

					// ▼取得した値を変数targetSubに入れて、ブロックレベルで表示
					if (this.value) {
						var targetSub = document.getElementById(this.value);
						targetSub.style.display = 'block';
					}
				}
				// ▼初期表示時に選択されているジャンルに対応するsubboxを表示する
				var initialGenre = document.querySelector(".mainselect").value;
				if (initialGenre) {
					var initialSubBox = document.getElementById(initialGenre);
					initialSubBox.style.display = 'block';
				}
			}

		</script>

		<span th:if="${#fields.hasErrors('shopName')}" th:errors="*{shopName}" class="error ms-3"></span><br>
		</div>
		<div class="tenpo ms-3">
			<h4>店内雰囲気の評価</h4>
			<label> <input type="radio" name="evaCd" value="5" th:field="${ankeForm.evaCd}">5点</label>
			<label> <input type="radio" name="evaCd" value="4" th:field="${ankeForm.evaCd}">4点</label>
			<label> <input type="radio" name="evaCd" value="3" th:field="${ankeForm.evaCd}">3点</label>
			<label> <input type="radio" name="evaCd" value="2" th:field="${ankeForm.evaCd}">2点</label>
			<label> <input type="radio" name="evaCd" value="1" th:field="${ankeForm.evaCd}">1点</label>
		</div>
		<span th:if="${#fields.hasErrors('evaCd')}" th:errors="*{evaCd}" class="error ms-3"></span><br>

		<div class="tenpo ms-3">
			<h4>お客様への対応評価</h4>
			<label> <input type="radio" name="cevaCd" value="5" th:field="${ankeForm.cevaCd}">5点</label>
			<label> <input type="radio" name="cevaCd" value="4" th:field="${ankeForm.cevaCd}">4点</label>
			<label> <input type="radio" name="cevaCd" value="3" th:field="${ankeForm.cevaCd}">3点</label>
			<label> <input type="radio" name="cevaCd" value="2" th:field="${ankeForm.cevaCd}">2点</label>
			<label> <input type="radio" name="cevaCd" value="1" th:field="${ankeForm.cevaCd}">1点</label>
		</div>
		<span th:if="${#fields.hasErrors('cevaCd')}" th:errors="*{cevaCd}" class="error ms-3"></span><br>

		<div class="tenpo ms-3">
			<h4>品質・品ぞろえの評価</h4>
			<label> <input type="radio" name="sevaCd" value="5" th:field="${ankeForm.sevaCd}">5点</label>
			<label> <input type="radio" name="sevaCd" value="4" th:field="${ankeForm.sevaCd}">4点</label>
			<label> <input type="radio" name="sevaCd" value="3" th:field="${ankeForm.sevaCd}">3点</label>
			<label> <input type="radio" name="sevaCd" value="2" th:field="${ankeForm.sevaCd}">2点</label>
			<label> <input type="radio" name="sevaCd" value="1" th:field="${ankeForm.sevaCd}">1点</label>
		</div>
		<span th:if="${#fields.hasErrors('sevaCd')}" th:errors="*{sevaCd}" class="error ms-3"></span><br>

		<div class="tenpo ms-3"><br>
			<h4>上記の評価を選んだ理由</h4>
			<textarea name="reason" style="width:100%; height:80px;"></textarea><br>
			<span th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}" class="error ms-3"></span><br><br>


		</div>
		<div id="btn1">
			<input type="submit" value="送信" class="btn btn-lg btn-outline-primary ms-3">
			<button type="button" onclick="history.back()" class="btn  btn-lg btn-outline-danger">戻る</button>

		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
			crossorigin="anonymous"></script>

	</form>
</body>


</html>