<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="common.css">
	<title>従業員専用ページ</title>
</head>

<body>
	<form action="/menu" th:object="${loginForm}" method="post">
		<header class="header col-12">
			
			<h1>Ace従業員専用ページ</h1>
			<p id="b"><c>Ace</c>「お客さまの豊かな生活を支援する」</p>
		</header>
		<h2>【従業員ログイン画面】</h2>
		<main>
			<p id="top1">・入力内容に不備があります。再度以下の情報を入力してください</p>
			<table class="table table-striped table-light col-12 p-3 m-3 ms-4" style="width: 80%;">
				<tr>
					<th class="col-4 col-md-3 col-xl-3">従業員番号</th>
					<td><input type="text" style="width:95%;" th:field="*{empId}"><br>
						<span th:if="${#fields.hasErrors('empId')}" th:errors="*{empId}" class="error2"></span><br>
					</td>
				</tr>
				<tr>
					<th class="col-4 col-md-3 col-xl-3">秘密の質問</th>
					<td><input type="text" style="width:95%;" th:field="*{question}"><br>
						<span th:if="${#fields.hasErrors('question')}" th:errors="*{question}" class="error2"></span><br>
					</td>
				</tr>

			</table>
			<br>
			<div class="button1">
				<input type="submit" value="ログイン" class="btn btn-outline-primary">　<input type="reset" value="リセット"
					class="btn btn-outline-secondary">　　　　
			</div>
	</form>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
		</script>
	</main>
</body>

</html>