<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="common.css">
	<title>従業員専用ページ</title>
</head>

<body>
	<form action="/menu"  method="post">
		<header class="header">
			
			<h1>Ace従業員専用ページ</h1>
			<p id="b"><c>Ace</c>「お客さまの豊かな生活を支援する」</p>
		</header>
		<h2>【従業員ログイン画面】</h2>
		<main>
			<p id="top1">・不明なログインを検知しました。以下の情報を入力してください</p>
			<table class="table table-striped table-light p-3 m-3" style="width: 375px;">
				<tr>
					<th>従業員番号</th>
					<td><input type="text" name="empId"><br>
					</td>
				</tr>
				<tr>
					<th>秘密の質問</th>
					<td><input type="text" name="question"><br>
					</td>
				</tr>

			</table>
			<br>
			<div class="button1">
				<input type="submit" value="ログイン" class="btn btn-outline-primary">　<input type="reset" value="リセット"
					class="btn btn-outline-secondary">　　　　
			</div>
	</form>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
		</script>
	</main>
</body>

</html>