<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" th:href="@{/common.css}">
	<title>従業員専用ページ</title>
</head>


<body>
	<header class="header">
		<h1>Ace従業員専用ページ</h1>
		<p id="b"><c>Ace</c>「お客さまの豊かな生活を支援する」</p>
	</header>
	<h2>【登録完了画面】</h2><br>
	<main>
		<p id="complete">登録が完了いたしました</p>
		<div class="button1">
			<a href="http://counity.azurewebsites.net/stamenu.html" class="btn btn-outline-primary" role="button">トップへ戻る</a>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
			crossorigin="anonymous"></script>
	</main>
</body>

</html>